
<div class="worklearning" >
  <div>
       <h3 class="Wltitle" [ngStyle.lt-md]="{'font-size': '36px'}">Frequently Asked Questions </h3>
     </div>

     <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Deserunt, inventore. Fugiat ratione atque quas asperiores reprehenderit fugit, perferendis voluptate corrupti qui
       ullam. Perspiciatis, nam assumenda enim iure sed odio voluptas? <br> 3.1 million new jobs are created each year
       in Africa, yet today only 1 in 6 young people are in wage employment and 2 in 6 are in vulnerable jobs, which
       means 350 million young people aged 15-35 need a secure job. And by 2050 these figures will double if nothing is
       done.</p>

      </div>

   <div class="worklearning">
     
     <h3 class="talent" [ngStyle.lt-md]="{'font-size': '36px'}">TALENTS </h3>
      <mat-accordion>
        <mat-expansion-panel (click)="closed()"  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            
            <mat-panel-description>
              <!-- Inform the date you wish to travel -->
              <!-- <i class="material-icons md-inactive">play_arrow</i> -->
              <mat-icon *ngIf="etat == true" class="green-icon">play_arrow</mat-icon>
              <mat-icon *ngIf="etat == false" class="green-icon1">play_arrow</mat-icon>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corporis quia cum exercitationem, rem
            iusto amet numquam dignissimos illum rerum culpa libero hic quibusdam, voluptates ad architecto aut suscipit.
            Ratione!
            <br> I'm visible because I am open</p>
        </mat-expansion-panel>
        <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
        <mat-expansion-panel (click)="opened()" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
              <mat-icon *ngIf="panelOpenState == true" class="green-icon">play_arrow</mat-icon>
              <mat-icon *ngIf="panelOpenState == false" class="green-icon1">play_arrow</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corporis quia cum exercitationem, rem
            iusto amet numquam dignissimos illum rerum culpa libero hic quibusdam, voluptates ad architecto aut suscipit.
            Ratione!
            <br> I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>

    <h3 class="talent" [ngStyle.lt-md]="{'font-size': '36px'}">ENTREPRISE </h3>
    <mat-accordion>
      <mat-expansion-panel (click)="panelEntrepriseone()"  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
 
            <mat-panel-description>
              <!-- Inform the date you wish to travel -->
              <!-- <i class="material-icons md-inactive">play_arrow</i> -->
              <mat-icon *ngIf="etatEntreprise == true" class="green-icon">play_arrow</mat-icon>
              <mat-icon *ngIf="etatEntreprise == false" class="green-icon1">play_arrow</mat-icon>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corporis quia cum exercitationem, rem
            iusto amet numquam dignissimos illum rerum culpa libero hic quibusdam, voluptates ad architecto aut suscipit.
            Ratione!
            <br> I'm visible because I am open</p>
          </mat-expansion-panel>
        <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
        <mat-expansion-panel (click)="panelEntreprisetwo()" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
                   <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                   <mat-icon *ngIf="etatEntreprise1 == true" class="green-icon">play_arrow</mat-icon>
              <mat-icon *ngIf="etatEntreprise1 == false" class="green-icon1">play_arrow</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corporis quia cum exercitationem, rem
            iusto amet numquam dignissimos illum rerum culpa libero hic quibusdam, voluptates ad architecto aut suscipit.
            Ratione!
            <br> I'm visible because I am open</p>
        </mat-expansion-panel>
    </mat-accordion>
    
    <h3 class="talent" [ngStyle.lt-md]="{'font-size': '36px'}"> FINANCIALS </h3>
    <mat-accordion>
        <mat-expansion-panel (click)="panelFinancialsone()"  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            
            <mat-panel-description>
              <!-- Inform the date you wish to travel -->
              <!-- <i class="material-icons md-inactive">play_arrow</i> -->
              <mat-icon *ngIf="etatFinancials == true" class="green-icon">play_arrow</mat-icon>
              <mat-icon *ngIf="etatFinancials == false" class="green-icon1">play_arrow</mat-icon>
                  
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corporis quia cum exercitationem, rem
            iusto amet numquam dignissimos illum rerum culpa libero hic quibusdam, voluptates ad architecto aut suscipit.
            Ratione!
            <br> I'm visible because I am open</p>
        </mat-expansion-panel>
        <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
        <mat-expansion-panel (click)="panelFinancialstwo()" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
                   <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
              <mat-icon *ngIf="etatFinancials1 == true" class="green-icon">play_arrow</mat-icon>
              <mat-icon *ngIf="etatFinancials1 == false" class="green-icon1">play_arrow</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corporis quia cum exercitationem, rem
            iusto amet numquam dignissimos illum rerum culpa libero hic quibusdam, voluptates ad architecto aut suscipit.
            Ratione!
            <br> I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    
   </div>