.worklearning {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Wltitle {
    color: #000000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
  }

  .Wltitle1 {
    color: #443f3f;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
  }

  .Wltext {
    margin: auto;
    max-width: 999px;
    color: #4A4A4A;
    font-size: 24px;
    letter-spacing: 1.33px;
    line-height: 29px;
    text-align: center;
  }

}

.talent {
  max-width: 999px;
  color: #443f3f;
  font-size: 36px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

mat-expansion-panel {
  margin: auto;
  max-width: 999px;
  color: #000000;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 29px;

  mat-panel-title {
    font-weight: bold;
  }
  
  mat-panel-description {
    justify-content: flex-end;
    margin-right: 0px;
    margin-left: 16px;
  }
  
  .green-icon {
    color: #61BFAD;
  }
  .green-icon1 {
    color: #61BFAD;
    transform: rotate(90deg);
  }
  mat-expansion-panel {
    border: 0px transparent;
    box-shadow: 0px 0px;
    border-radius : 0px;
  }

}
mat-accordion {
  border-radius : 0px;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-accordion .mat-expansion-panel {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: rgba(136, 136, 136, 0.918) 2px solid;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: rgba(136, 136, 136, 0.918) 2px solid;
}