<div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="space-around center" class="header">
  <a routerLink="/home">
    <div id="logo"> </div>
  </a>
  <div class="langue" fxHide.gt-sm="true">
    <mat-form-field>
      <mat-select [(ngModel)]="defaultLangue" [formControl]="Langues">
        <mat-select-trigger>
          {{ Langues.value }}
        </mat-select-trigger>
        <mat-option *ngFor="let langue of LANGUES" [value]="langue.code">{{langue.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="Hamburger" fxHide.gt-sm="true">
    <a (click)="show()">
      <mat-icon> menu </mat-icon>
    </a>
  </div>
  <div class="langue" fxLayoutAlign="center center" fxLayout="row no wrap" fxHide.lt-md="true">
    <mat-select [(ngModel)]="defaultLangue" [formControl]="Langues">
      <mat-select-trigger>
        {{ Langues.value }}
      </mat-select-trigger>
      <mat-option *ngFor="let langue of LANGUES" [value]="langue.code">{{langue.name}}</mat-option>
    </mat-select>
  </div>
  <div class="prog" fxHide.lt-md="true"> <a href="/" routerLink="/programs" routerLinkActive="active-link"> PROGRAMS
    </a> </div>
  <div class="stud" fxHide.lt-md="true"> <a href="/" routerLink="/student" routerLinkActive="active-link"> STUDENTS </a>
  </div>
  <div class="entr" fxHide.lt-md="true"> <a href="/" routerLink="/entreprise" routerLinkActive="active-link">
      ENTREPRISES </a>
  </div>
  <div class="signup" fxHide.lt-md="true"> <button routerLink="/form" mat-button>SIGN UP</button> </div>
  <div class="signin" fxHide.lt-md="true"> <button mat-button>SIGN IN</button> </div>
</div> <!-- Top-bar -->

<div *ngIf="etat == true" class="wrapper-hamburger" fxLayout="row" fxLayoutAlign="center center">

  <div class="hamburger" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="space-around start">
    <div class="prog"> <a (click)="show()" routerLink="/programs" routerLinkActive="active-link"> PROGRAMS </a> </div>
    <div class="stud"> <a (click)="show()" routerLink="/student" routerLinkActive="active-link"> STUDENTS </a></div>
    <div class="entr"> <a (click)="show()" routerLink="/entreprise" routerLinkActive="active-link"> ENTREPRISES </a>
    </div>
    <div class="signup"> <button (click)="show()" routerLink="/form" mat-button>SIGN UP</button> </div>
    <div class="signin"> <button (click)="show()" mat-button>SIGN IN</button> </div>
  </div>
  <div class="sub-hamburger"> </div>

</div>

<div class="sub-header"> </div>
