a {
  color: #231F20;
  text-decoration: none;
}

.header {
  margin-top: 0px;
  padding-top: 0px;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 6;

  #logo:hover {
    box-shadow: 0 0 2px 1px #a9b3b92c;
  }

  #logo {
    margin-right: 80px;
    margin-left: 10px;
    background-image: url('../../assets/logo.png');
    background-size: cover;
    height: 25px;
    width: 140px;
  }

  button {
    font-family: "Proxima Nova";
    height: 40px;
    width: 132px;
    border-radius: 2px;
    padding: 0px 5px;
  }

  .Hamburger mat-icon {
    background-color: #61BFAD;
    padding: 5px;
    margin-right: 7px;
  }

  .langue {
    margin-right: 25px;
    width: 46px;
  }

  select {
    border: 0px;
  }

  mat-form-field {
    width: 40px;
    height: 62px;
  }
  .mat-form-field-type-mat-native-select .mat-input-element {
    padding-right: 15px;
    padding-top: 0px;
  }

}

.wrapper-hamburger {
  width: 100%;
  position: fixed;
  z-index: 7;
  margin-top: 99px;
  background-color: white;

  .hamburger {
    margin-left: 20px;
    padding: 20px 0px;
    width: 400px;
  }

  .hamburger button {
    width: 300px;
  }
}

.signin button {
  background-color: #61BFAD;
}

.signup button {
  background-color: #FFCC00;
}

.prog {
  margin-right: 35px;
}

.stud {
  margin-right: 35px;
}

.entr {
  margin-right: 40px;
}

.signup {
  margin-right: 20px;
}

.sub-header {
  height: 100px;
  padding: 0px 5px;
  background-color: white;
  z-index: 5;
}
