<div class="footer">
  <p class="title" [ngStyle.lt-sm]="{'font-size': '36px'}">Our Partners</p>
  <div class="sub-footer-one" fxLayout="row" fxLayoutAlign="center center">
    <input fxFlex="60" type="email" id="email" placeholder="Entrer votre email">
    <div [ngStyle.lt-sm]="{'font-size': '10px'}"> <button mat-button>SUBSCRIBE</button> </div>
  </div>
  <hr >
  <div class="links" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-around start" fxLayout.lt-md="column" 
    fxLayoutAlign.lt-md="space-between center">
    <div >
      <div id="edacy-logo"></div>
    </div>
    <div>
      <h4>COMPANIES</h4>
      <ul>
        <li><a href="#" routerLink="/about"> A propos </a></li>
        <li><a href="#" routerLink="/student"> Students</a></li>
        <li><a href="#" routerLink="/entreprise"> Entreprises</a></li>
      </ul>
    </div>
    <div>
      <h4>LIENS RAPIDES</h4>
      <ul>
        <li>WorkLearning</li>
        <li>OpenLearning</li>
        <li></li>
        <li><a routerLink="/faq"> F.A.Q </a></li>
      </ul>
    </div>
    <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
      <h4>Social Links</h4>
      <div class="social-network" fxLayoutGap="30px" fxLayoutAlign="center center">
        <img src="../../assets/medium@3x.png" alt="">
        <img src="../../assets/instagram@3x.png" alt="">
        <img src="../../assets/facebook@3x.png" alt="">
        <img src="../../assets/linkedin@3x.png" alt="">
        <img src="../../assets/twitter@3x.png" alt="">
      </div>
    </div>
  </div>
</div>
