.footer {
  padding: 0px 0px 20px 0px;
  background-color: rgba(97, 191, 173, 0.25);
  display: flex;
  flex-direction: column;

  input {
    border-radius: 2px;
    border: 2px solid #61bfad;
    padding-left: 2%;
    background-color: transparent;
    height: 56px;
    padding-left: 2%;
  }

  button {
    border: 2px solid #61bfad;
    background-color: #61bfad;
    margin-left: 16px;
    height: 58px;
  }

  .title {
    margin-top: 89px;
    margin-bottom: 20px;
    color: #61BFAD;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0px;
    padding-left: 10px;
  }

  li {
    font-size: 12px;
    color: #61bfad;
    text-transform: uppercase;
  }
}
  h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #61bfad;
    font-size: 16px;
  }

.sub-footer-one {
  padding: 0px 10px;
}

hr {
  width: 100%;
  border: 0.5px solid #fff;
  margin-top: 45px;
  margin-bottom: 10px;
}

a {
  color: #61bfad;
  text-decoration: none;
}

.social-network {
  padding-left: 10px;

}

img {
  width: 24px;
}

#edacy-logo {
  margin-top: 30px;
  background-image: url('../../assets/logo.png');
  background-size: cover;
  height: 25px;
  width: 140px;
  margin-bottom: 30px;

}

.links { 
  padding: 0px 10px 20px 10px;
}