
<div class="Wl2">
  <div>
    <h3 class="Wltitle" [ngStyle.lt-md]="{'font-size': '36px'}">Aspire Farther</h3>
  </div>

  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">3.1 million new jobs are created each year in Africa, yet
    today only 1 in 6 young people are in wage employment and 2 in 6 are in vulnerable jobs, which means 350 million
    young people aged 15-35 need a secure job. And by 2050 these figures will double if nothing is done.</p>
    
  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}"><br>At EDACY we believe that the creation of new markets
    will be enabled by upgrading the skills required for tomorrow's occupations. Leveraging technology, we offer
    millions of young people in Africa the opportunity to up skill themselves to lead the continent toward a thriving
    global economy, turning to future trades and services, and creating new jobs. </p>
  </div>

<div fxLayout="row">
  <div class="contentpartner-two" fxLayout="column" fxFlex >
    <div class="sub-contentpartner">
      <div>
        <h3 class="Title">Our vision </h3>
      </div>
      
      <div>
        <p class="content"> To be where tomorrow’s leaders are educated to elevate Africa.
        </p>
      </div>
      
    </div>
  </div>
  <div id="imagepartner" fxHide.lt-md="true" fxFlex="50"></div>
</div>

<div fxLayout="row">
  <div id="imagepartner2" fxHide.lt-md="true" fxFlex="50"></div>
  <div class="contentpartner-one" fxLayout="column" fxFlex>
    <div class="sub-contentpartner" >

      <div>
        <h3 class="Title"> Our mission</h3>
      </div>
      
      <div>
        <p class="content"> To accelerate Africa’s transition to digital economy. </p>
      </div>
    </div>
  </div>
</div>

<div class="Wl2">
  <div>
    <h3 class="Wltitle1" [ngStyle.lt-md]="{'font-size': '36px'}">Our story </h3>
  </div>
  
  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">The history of EDACY is the result of an experience lived by
    its founder between 2004 and 2010 at that time Temi headed MIC one of the first licensed microfinance banks in
    Nigeria. Among the biggest challenges he met was finding people with the right skills in what was then a new market.
    It turns out that the only way to develop a successful team was to build a comprehensive training program for all
    new hires. It is based on this experience that in 2016 Temi founded EDACY, a revolutionary education system that
    allows companies in Africa to hire employees with the required skills to fill jobs in emerging professions. </p>

</div>

<div class="Wl2">
  <div>
    <h3 class="Wltitle1" [ngStyle.lt-md]="{'font-size': '36px'}"> Our strength </h3>
  </div>

  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">We share the same vision and are dedicated to working hard
    to build an amazing system of education that will allow millions of working-age people to participate in the growth
    of a strong African economy. We work on this every day.</p>

</div>

<div class="Wl2">
  <div>
    <h3 class="Wltitle1" [ngStyle.lt-md]="{'font-size': '36px'}">Where we are different</h3>
  </div>

  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">EDACY creates an efficient dual training system inspired
    from Switzerland, where training takes place both in companies and online. We call it WorkLearning and it is managed
    as a partnership between EDACY, business, government and local academic institutions.</p>

    <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}"><br>The purpose of WorkLearning is to improve the skills of
    graduate students and/or re-skill employees in a wide range of new skills they need to succeed in today's more and
    more digitalized world. By combining a professional environment with the latest learning technologies, EDACY enables
    those who wish to develop </p>
    
  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}"><br>Moreover, we are particularly proud of the excellent job
    placement rate of our graduates and that allows us today to introduce <b> the 100% Job Guaranteed </b></p>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px" fxLayoutAlign.lt-md="center center"
  fxLayoutAlign="center start">
  <div fxLayout="row" fxLayoutGap.gt-xs="20px" class="Step1" fxLayoutAlign="center center">
    <div id="img-stat1"><img src="../../assets/group-3.png" alt=""> </div>
    <div class="package-journey">
      <div>
        <p [ngStyle.lt-md]="{'font-size': '18px'}"><b>90%</b> employment within 30 days of
          graduation and </p>
        <p [ngStyle.lt-md]="{'font-size': '18px'}"> <b> 100% </b> after 4 months
        </p>
      </div>
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutGap="20px" class="Step1" fxLayoutAlign.lt-md="center center" fxLayoutAlign="center center">
    
    <div id="img-stat2"> <img src="../../assets/group.png" alt=""> </div>
    <div class="package-journey">
      <div>
        <p [ngStyle.lt-md]="{'font-size': '18px'}"><b>60%</b> Technical skills </p>
        <p [ngStyle.lt-md]="{'font-size': '18px'}"> <b>40%</b> Soft skills </p>
      </div>
    </div>
  </div>
  
</div>

<div class="Wl2">
  <div>
    <h3 class="Wltitle1" [ngStyle.lt-md]="{'font-size': '36px'}">Where we are </h3>
  </div>
  <div fxLayout="row" fxLayoutGap="15%" fxLayoutGap.lt-md="5px" class="Step1" fxLayoutAlign="center none"
  fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
    <div class="text-weare">
      <p [ngStyle.lt-md]="{'font-size': '18px'}">
        EDACY transforms the lives of young graduates in Senegal and Cote d’Ivoire, connecting them to job opportunities
        so they can reach their potential.
      </p>
    </div>
    <div> <img src="../../assets/screen-shot-2018-05-14-at-10-14-38-am.jpg" alt=""></div>
  </div>

</div>

<div class="Wl2">
  <div>
    <h3 class="Wltitle1" [ngStyle.lt-md]="{'font-size': '36px'}">Where we are going </h3>
  </div>

  <div fxLayout="row" fxLayoutGap="15%" fxLayoutGap.lt-md="5px" class="Step1" fxLayoutAlign="center none"
    fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
    <div class="text-weare">
      <p [ngStyle.lt-md]="{'font-size': '18px'}">
        EDACY aims to find new partners to ensure the transformation of young graduates' lives, and will soon open new
        regions eager to strengthen their youth in the trades of the future.
      </p>
    </div>
    <div> <img src="../../assets/screen-shot-2018-05-14-at-10-14-49-am.jpg" alt=""></div>
  </div>
</div>

<div class="Wl2">
  <div>
    <h3 class="Wltitle1" [ngStyle.lt-md]="{'font-size': '36px'}">A Balanced Team</h3>
  </div>
  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">Because we believe that a strong and balanced team comes
    from the diversity of its members, today we are proud to have women and men accessing the same carrier opportunities
    at EDACY. </p>
</div>

<div fxLayout="row wrap" fxLayoutGap="60px" fxLayoutAlign="center center" fxLayout.lt-md="column">
  <mat-card class="example-card">
    <img mat-card-image src="../../assets/temi-size-1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Temi</mat-card-title>
      <mat-card-subtitle>Founder</mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../../assets/djigo-size-1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Mamadou Djigo</mat-card-title>
      <mat-card-subtitle>Country Director Senegal</mat-card-subtitle>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../../assets/carine-size-1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Carine Vavasseur</mat-card-title>
      <mat-card-subtitle>Head of Career Services</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
    
