.Wl2 {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0px 12px;

  .Wltitle {
    color: #000000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
  }

  .Wltitle1 {
    color: #443f3f;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
  }

  .Wltext {
    margin: auto;
    max-width: 999px;
    color: #4A4A4A;
    font-size: 24px;
    letter-spacing: 1.33px;
    line-height: 29px;
    text-align: center;
  }
  .text-weare {
    max-width: 550px;
    color: #4A4A4A;
    font-size: 24px;
    letter-spacing: 1.33px;
    line-height: 29px;
    text-align: center;
  }

}

#imagepartner {
  background-image: url('../../assets/bitmap-copy-4-1.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;
}

#imagepartner2 {
  background-image: url('../../assets/bitmap-copy-4.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;
}

.contentpartner-two {
  background-color: #61BFAD;
  align-items: center;
}

.contentpartner-one {
  background-color: #FFCC00;
  align-items: center;
}

.sub-contentpartner {
  max-width: 515px;
  padding: 50px 20px;


  .Title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    text-shadow: 0 2px 10px 0 #00000080;
    color: white;
  }

  .content {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  button {
    height: 52px;
    border: 1px solid #000000;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    margin: 50px 5% 5%;
  }
}

.example-card {
  width: 230px;
  margin-bottom: 80px;
}

mat-card-title {
  text-align: center;
}

mat-card-subtitle {
  text-align: center;
}

.example-header-image {
  background-size: cover;
}

#img-stat1 {
  padding-left: 5px;
}

#img-stat2 {
  padding-left: 5px;
}

.package-journey {
  max-width: 210px;
  margin: auto;
  padding: 0px 5px;
  p {
    color: #4A4A4A;
    font-size: 24px;
    letter-spacing: 1.33px;
    line-height: 29px;
    text-align: center;
  }
}


