
<div class="worklearning" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h3 class="worklearning-title" [ngStyle.lt-md]="{'font-size': '36px'}">WorkLearning </h3>
    </div>
    <p class="worklearning-content" [ngStyle.lt-md]="{'font-size': '18px'}">WorkLearning consist of 3 intense months of specialization,
      followed by 6 months apprenticeship period, where you are integrated into a company which will allow you to learn
      more and convince enterprises with your skills.</p>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="cadre-programs" fxLayoutGap="70px">
      <div class="programs" fxFlex="375px">
        <div id="image-for-web"></div>
        <div class="description">
          <h1 class="titre">WorkLearning</h1>
          <h1 class="titre1">Frontend Development</h1>
          <p>Gain the skills to become a front-end web developer.</p>
          <p>Application Opens: <br>
            Program Starts:</p>
  
          <div fxLayout="row" fxLayoutAlign="space-between">
            <p class="date">Starts May 7, 2018</p>
            <p class="date1">9 Months</p>
          </div>
        </div>
      </div>
      <div class="programs" fxFlex="375px">
        <div id="image-for-mobile"></div>
        <div class="description">
          <h1 class="titre">WorkLearning</h1>
          <h1 class="titre1">Mobile Development</h1>
          <p>Build apps for Android and iOS at a mobile development coding.</p>
          <p>Application Opens:<br>
            Program Starts:</p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <p class="date">Starts May 7, 2018</p>
            <p class="date1">9 Months</p>
          </div>
        </div>
      </div>
      <div class="programs" fxFlex="375px">
        <div id="image-for-data"></div>
        <div class="description">
          <h1 class="titre">OpenLearning</h1>
          <h1 class="titre1">Backend Development</h1>
          <p>Build solid server-side app with NodeJs, Java and create APIs.</p>
          <p>Application Opens: <br>
            Program Starts:</p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <p class="date">Starts May 7, 2018</p>
            <p class="date1">3 Months</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="partner" fxLayout="column" fxLayoutAlign=" center">
  
    <section carrousel>
      <input id="slide-0" name="carrousel" type="radio" checked />
      <div class="slide">
        <label for="slide-3" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
        <div class="slide-content">
          <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
            fxLayoutAlign.lt-sm="space-between center">
            <img src="../../assets/Ndiate.png" alt="">
            <div>
              <h6 class="title">Ndiate SENE</h6>
              <h6 class="title1">Full-stack developer à EDACY</h6>
              <h6 class="title2">Avec EDACY, toujours
                de nouvelles expériences merveilleuses à vivre.</h6>
            </div>
          </div>
        </div>
        <label for="slide-1" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
      </div>
  
      <input id="slide-1" name="carrousel" type="radio" />
      <div class="slide">
        <label for="slide-0" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
        <div class="slide-content">
          <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
            fxLayoutAlign.lt-sm="space-between center">
            <img src="../../assets/salimata.png" alt="">
            <div>
              <h6 class="title">Salimata</h6>
              <h6 class="title1">Data Science à l’UNICEF</h6>
              <h6 class="title2">J’ai rejoint l’UNICEF grâce au WorkLearning.</h6>
            </div>
          </div>
        </div>
        <label for="slide-2" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
      </div>
  
      <input id="slide-2" name="carrousel" type="radio" />
      <div class="slide">
        <label for="slide-1" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
        <div class="slide-content">
          <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
            fxLayoutAlign.lt-sm="space-between center">
            <img src="../../assets/mountaga.png" alt="">
            <div>
              <h6 class="title">Mountaga DIALLO</h6>
              <h6 class="title1">Software Leadership</h6>
              <h6 class="title2">C’est ici que je vais accomplir mes rêves.</h6>
            </div>
          </div>
        </div>
        <label for="slide-3" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
      </div>
  
      <input id="slide-3" name="carrousel" type="radio" />
      <div class="slide">
        <label for="slide-2" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
        <div class="slide-content">
          <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
            fxLayoutAlign.lt-sm="space-between center">
            <img src="../../assets/arielle.png" alt="">
            <div>
              <h6 class="title">Arielle NOBIME</h6>
              <h6 class="title1">Digital Marketing Manager à Kiya Software</h6>
              <h6 class="title2">J’ai été formée en entreprise et employée à l’issue du WorkLearning.</h6>
            </div>
          </div>
        </div>
        <label for="slide-0" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
      </div>
    </section>
  </div>