.worklearning {
  padding: 0px 12px;
  margin-bottom: 40px;

  .worklearning-title {
    height: 24px;
    color: #000000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
  }

  .worklearning-content {
    margin: auto;
    max-width: 999px;
    color: #4A4A4A;
    font-size: 24px;
    letter-spacing: 1.33px;
    line-height: 29px;
    text-align: center;
  }
}

.cadre-programs {
  max-width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 30px;
  margin-bottom: 40px;

  .programs {
    border: 0.5px solid #D8D8D8;
    background-color: #FFFFFF;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .description {
    padding: 15px 21px;
  }

  #image-for-web {
    background-image: url('../../assets/web.png');
    min-height: 213px;
    background-size: cover;
    background-position: center;
  }

  #image-for-mobile {
    background-image: url('../../assets/mobile.png');
    min-height: 213px;
    background-size: cover;
    background-position: center;
  }

  #image-for-data {
    background-image: url('../../assets/data.png');
    min-height: 213px;
    background-size: cover;
    background-position: center;
  }

  .titre {
    color: #61BFAD;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  .titre1 {
    font-size: 25.6px;
    font-weight: bold;
    line-height: 32px;
  }

  .description p {
    font-size: 20px;
    line-height: 24px;
  }

  .date {
    color: #61BFAD;
    font-size: 18px;
    line-height: 22px;
  }

  .date1 {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
  }

}


.partner {
  padding: 0px 12px;
  background-color: #F5F5F5;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 2px 10px 0 #00000080;
}

.title1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #9b9b9b;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 2px 10px 0 #00000080;
}

.title2 {
  max-width: 800px;
  color: #000000;
  font-size: 18px;
  margin-top: 14px;
  text-align: center;
}


.entreprises {
  margin-top: 55px;
  padding: 0px 10px;
}

.entreprises img {
  border-radius: 100%;
}

select {
  border: 0px;
}

mat-form-field {
  width: 40px;
}


[carrousel] {
  display: flex;
  position: relative;

  background-color: #F5F5F5;
  box-sizing: border-box;

  border-radius: 10px;
  width: 100%;
  height: 300px;

  &::before {
    content: '';
    display: block;
    padding-bottom: 50%;
  }

  [name~="carrousel"] {
    display: none;

    &:checked {
      +.slide {
        pointer-events: auto;
        opacity: 1;

        .slide-content {
          opacity: 1;
        }
      }
    }
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-content {
    opacity: 0;
    transition: opacity 1s;
  }

  .back,
  .forward {
    display: block;
    position: absolute;
    top: calc(50% - 2rem);

    transform: scale(.9);
    transition: transform .2s;
    width: 40px;
    height: 40px;

    mat-icon {
      font-size: 50px;
    }

    &:hover {
      transform: scale(1);
      // background-color: white;
    }
  }

  .back {
    left: calc(0% + 1rem);
  }

  .forward {
    right: calc(0% + 1rem);
  }
}