.Wl2 {
  padding: 30px 15px;
  margin: auto;
  max-width: 500px;

  input {
    height: 25px;
    padding: 4px 0px;
    border: none;
    background-color: #e9e7e7;
  }

  .mat-form-field-underline {
    display: none;
  }

  textarea {
    background-color: #e9e7e7;
  }

  label {
    margin: 10px 0px;
    height: 20px;
    max-width: 400px;
    color: #4A4A4A;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 38px;
    display: block;
  // letter-spacing: 0px;

  }

  mat-checkbox {
    // width: 224px;
    // letter-spacing: 0px;
    color: #4A4A4A;
    font-family: "Proxima Nova";
    font-size: 15px;
    line-height: 38px;
  }

  button {
    padding: 10px 0px;
    width: 186px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.81px;
    line-height: 22px;
    background-color: #FFCC00;
    margin: auto;
    margin-bottom: 72px;
  }

  .mat-form-field-appearance-legacy {
    padding: .4375em 0 0 0 !important;
  }

  .mat-form-field-infix {
    padding: .4375em 0 0 0 !important;
  }

  .upload {
    padding-bottom: 0.500em;
  }

  .upload-Q {
    padding-top: 35px;
    padding-bottom: 0.500em;
  }

  .input-file {
    margin-bottom: 35px;
  }
  
  .talent {
    max-width: 999px;
    color: #000000;
    font-size: 26px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    padding: 0px;
  }
  
  // .example-container {
  //   display: flex;
  //   flex-direction: column;
  // }
  
  .example-container>* {
    width: 100%;
  }

}
