
<div class="Wl2">
  <h3 class="talent">Request for Sponsorship </h3>

  <div class="example-container">
    <mat-form-field>
      <label>First Name</label>
      <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
      <label>Last Name</label>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field>
      <label>Official Email</label>
      <input matInput placeholder="" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <label>Phone Number</label>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field>
      <label>Whatsapp Number</label>
      <input matInput placeholder="">
    </mat-form-field>

    <!-- <mat-form-field> -->
    <label> Select one of the options </label> 
    <mat-checkbox> Payment in 21 months: 131 000 FCFA/months </mat-checkbox>
    <mat-checkbox> Payment in 36 months: 96 000 FCFA/months </mat-checkbox>
    <!-- </mat-form-field> -->

    <mat-form-field>
      <label>Most Recent Degree/Qualification </label>
      <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
      <label>Most Recent Institution</label>
      <input matInput placeholder="">
    </mat-form-field>

    <label class="upload">Upload CV</label>
    <input type="file" placeholder="">

    <label class="upload-Q">Upload Qualification (Diploma, Certificate, Degree etc.) </label>
    <input class="input-file" type="file" placeholder="">
    <button mat-button>SUBMIT REQUEST</button>

  </div>

</div>

