
<div class="Wl2">

  <div class="example-container">
    <mat-form-field>
      <label>First Name</label>
      <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
      <label>Last Name</label>
      <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
      <label>Job Title</label>
      <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
      <label>Entreprise Name</label>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field>
      <label>Official Email</label>
      <input matInput placeholder="" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>Official Phone Number</label>
      <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field [formGroup]="stateForm">
      <label>Country</label>
      <input type="text" matInput placeholder="" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <label>How do you want to partner with us</label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>

    <button mat-button >NEXT</button>

  </div>

</div>

