.Wl2 {
  padding: 30px 20px;
  margin: auto;
  max-width: 500px;

  input {
    height: 25px;
    padding: 4px 0px;
    background-color: #e9e7e7;
  }

  textarea {
    background-color: #e9e7e7;
  }

  label {
    height: 14px;
    width: 224px;
    color: #4A4A4A;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 38px;
  }

  button {
    padding: 10px 0px;
    width: 186px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    background-color: #FFCC00;
    margin: auto;
    margin-bottom: 72px;
  }

}

mat-form-field {
  padding: 0px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}
