#image {
  z-index: 2;
  width: 100%;
  background-image: url('../../assets/bitmap.png');
  background-size: cover;
  background-position: center;
}

.bloctexte {
  z-index: 9;
  height: 550px;
  padding-left: 16px;
  padding-right: 16px;
}

#headertext {
  z-index: 4;
  margin-left: -100%;

  .Title {
    color: #FFCC00;
    font-size: 64px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 0px;
    max-width: 670px;
    padding-bottom: 15px;
  }

  .content {
    margin-top: 8px;
    margin-bottom: 0px;
    max-width: 670px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
  }

  .play-content {
    height: 51px;
  }

  .play {
    padding: 0px;
    color: #FFFFFF;
    font-size: 28px;
    letter-spacing: 1.56px;
    line-height: 38px;
    padding: 0px 8px 0px 5px;
  }
}

.bloc1 {
  padding-left: 16px;
  padding-right: 16px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 0px;
    color: #000000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 #00000080;
  }

  .title2 {
    margin-top: 0px;
    color: #9B9B9B;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .text {
    margin: auto;
    max-width: 900px;
    color: #4A4A4A;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 58px;
  }

}

.bloc1 button {
  height: 57px;
  width: 186px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.81px;
  line-height: 22px;
  text-align: center;
  background-color: #FFCC00;
  margin: auto;
  margin-bottom: 72px;
}

#imagepartner {
  background-image: url('../../assets/card1.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;
}

#imagepartner2 {
  background-image: url('../../assets/card2.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;
}

.contentpartner-one {
  background-color: #FFCC00;
  align-items: center;
}

.contentpartner-two {
  background-color: rgb(97, 191, 173);
  align-items: center;
}

.sub-contentpartner {
  max-width: 515px;
  padding: 50px 20px;

  .Title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .content {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  button {
    height: 52px;
    border: 1px solid #000000;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    margin: 50px 5% 5%;
  }

}

// max-width: 515px;
// margin: auto;
//     margin-top: auto;
// height: 80%;
// margin-top: 10%;
// display: flex;
// flex-direction: column;
// align-items: start;
.title2-journey {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #9B9B9B;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.student-journey {
  margin: auto;
  padding: 50px 0px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;

  .title-journey {
    margin-top: 5px;
    font-size: 36px;
    margin-bottom: 10px;
  }

  .text-journey {
    font-size: 24px;
  }

  .package-journey {
    max-width: 440px;
    margin-bottom: 70px;
  }

  .text-journey-special {
    font-size: 24px;
    color: #FFCC00;
  }

}

.partner {
  padding: 0px 12px;
  background-color: #F5F5F5;

  .title2 {
    max-width: 800px;
    color: #000000;
    font-size: 18px;
    line-height: normal;
    margin-top: 14px;
    text-align: center;
  }

  .title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-shadow: 0 2px 10px 0 #00000080;
  }

  .title1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-shadow: 0 2px 10px 0 #00000080;
  }

  .entreprises {
    margin-top: 55px;
  }

  img {
    border-radius: 100%;
  }

}

[carrousel] {
  display: flex;
  position: relative;

  background-color: #F5F5F5;
  box-sizing: border-box;

  border-radius: 10px;
  width: 100%;
  height: 300px;

  &::before {
    content: '';
    display: block;
    padding-bottom: 50%;
  }

  [name~="carrousel"] {
    display: none;

    &:checked {
      +.slide {
        pointer-events: auto;
        opacity: 1;

        .slide-content {
          opacity: 1;
        }
      }
    }
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-content {
    opacity: 0;
    transition: opacity 1s;
  }

  .back,
  .forward {
    display: block;
    position: absolute;
    top: calc(50% - 2rem);

    transform: scale(.9);
    transition: transform .2s;
    width: 40px;
    height: 40px;

    mat-icon {
      font-size: 50px;
    }

    &:hover {
      transform: scale(1);
      // background-color: white;
    }
  }

  .back {
    left: calc(0% + 1rem);
  }

  .forward {
    right: calc(0% + 1rem);
  }
}
