
<div fxLayout="row" fxLayoutAlign=" none center" class="pub">
      <div id="image"></div>
      <div fxFlex="1 1 100%" fxLayout="row" id="headertext" fxLayoutAlign="start center">
        <div fxFlex="1 1 25%" fxHide.lt-xl="true"></div>
        <div fxFlex="1 1 10%" fxHide.xl="true" fxHide.xs="true"></div>
        <div class="bloctexte" fxLayout="column" fxLayoutAlign="center start">
          <div>
            <p class="Title" [ngStyle.lt-md]="{'font-size': '40px'}"> WorkLearning </p>
          </div>
          <div>
            <p class="content" [ngStyle.lt-md]="{'font-size': '28px'}">
              You are in the right place to develop your mastery of advanced technologies. </p>
          </div>
          <div class="play-content" fxFlex fxLayout="row " fxLayoutAlign="start center">
            <div>
              <p class="play" [ngStyle.lt-md]="{'font-size': '20px'}">Play the film </p>
            </div>
            <div> <img src="../../assets/play-button.png" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- pub -->

    <!-- bloc1 -->
    <div class="bloc1" >
      <p class="title" [ngStyle.lt-md]="{'font-size': '36px'}">Become attractive to the recruiters</p>
      <p class="title2" [ngStyle.lt-md]="{'font-size': '26px'}">Upgrade with the latest digital skills.</p>
      <p class="text" [ngStyle.lt-md]="{'font-size': '18px'}">We will provide you with all the tools you need to join
        the company of your dreams and settle you successfully into a team of professionals. </p>
        <!-- <div class="but-cont"> -->
      <button mat-button>LEARN MORE</button>
        <!-- </div> -->
    </div>
    <!-- bloc1 -->

    <div fxLayout="row">
      <div class="contentpartner-one" fxLayout="column" fxFlex>
        <div class="sub-contentpartner" >

          <div>
            <h3 class="Title" [ngStyle.lt-md]="{'font-size': '28px'}"> The WorkLearning </h3>
          </div>

          <div>
            <p class="content" [ngStyle.lt-md]="{'font-size': '18px'}"> We create inspiring opportunities to take your
              career to the next level. Develop skills and get hands-on experience working with some of the best minds
              in the industry.
            </p>
          </div>

          <div><button mat-button>JOIN AS A ED-PARTNER</button></div>

        </div>
      </div>
      <div id="imagepartner" fxHide.lt-md="true" fxFlex="50"></div>
    </div>

    <div fxLayout="row">
      <div id="imagepartner2" fxHide.lt-md="true" fxFlex="50"></div>
      <div class="contentpartner-two"  fxLayout="column" fxFlex>
        <div class="sub-contentpartner">
          <div>
            <h3 class="Title" [ngStyle.lt-md]="{'font-size': '28px'}">Mingle with our world-class experts and mentors.
            </h3>
          </div>
          <div>
            <p class="content" [ngStyle.lt-md]="{'font-size': '18px'}">An expert mentor in the trade will personally
              monitor your progress and bring his experience to help you learn better and faster, ensuring that you can
              overcome blockages and stay motivated at all times. </p>
          </div>

          <div><button mat-button>SIGNUP FOR WORKLEARNER</button></div>
        </div>
      </div>
    </div>

    <h1 class="title2-journey" [ngStyle.lt-md]="{'font-size': '26px'}"> The EDACY Journey </h1>

    <div class="student-journey">
      <div fxLayout="row" fxLayoutGap="110px" fxLayoutGap.lt-sm="20px" class="Step1" fxLayoutAlign="center start">
        <div> <img src="../../assets/group-20.png" alt=""></div>
        <div class="package-journey">
          <div>
            <p class="title-journey" [ngStyle.lt-md]="{'font-size': '28px'}">Application</p>
          </div>
          <div>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}">Interested talents apply online before the
              deadline. Minimum BAC 3+, Age 18+
            </p>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}">Successful applicants pay their tuition fee.
            </p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="110px" fxLayoutGap.lt-sm="20px" class="Step1" fxLayoutAlign="center start">
        <div> <img src="../../assets/group-21.png" alt=""></div>
        <div class="package-journey">
          <div>
            <p class="title-journey" [ngStyle.lt-md]="{'font-size': '28px'}"> Specialization</p>
          </div>

          <div>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}"> Three months online and offline training
              with access to mentors.
            </p>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}"> Talents also attend weekly maker’s day to
              learn hard & soft skills.
            </p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="110px" fxLayoutGap.lt-sm="20px" class="Step1" fxLayoutAlign="center start">
        <div> <img src="../../assets/group-22.png" alt=""></div>
        <div class="package-journey">
          <div>
            <p class="title-journey" [ngStyle.lt-md]="{'font-size': '28px'}">Examination</p>
          </div>
          <div>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}"> Assessment at the end of the
              specialization. Successful talents are invited to the demoday.
            </p>
            <p class="text-journey-special" [ngStyle.lt-md]="{'font-size': '18px'}">Talents are allowed one free retake
              the examination if they fail the first attempt.
            </p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="110px" fxLayoutGap.lt-sm="20px" class="Step1" fxLayoutAlign="center start">
        <div> <img src="../../assets/group-26.png" alt=""></div>
        <div class="package-journey">
          <div>
            <p class="title-journey" [ngStyle.lt-md]="{'font-size': '28px'}">DEMODAY</p>
          </div>
          <div>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}"> Presentation of the MVP projects carried
              out during the 3 months of specialization with the Design Thinking methodology
            </p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="110px" fxLayoutGap.lt-sm="20px" class="Step1" fxLayoutAlign="center start">
        <div> <img src="../../assets/group-24.png" alt=""></div>
        <div class="package-journey">
          <div>
            <p class="title-journey" [ngStyle.lt-md]="{'font-size': '28px'}">WorkLearning</p>
          </div>
          <div>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}"> Learn by doing, while getting paid at the
              same time.
            </p>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}">Six months in enterprise, online and on
              campus.

            </p>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="110px" fxLayoutGap.lt-sm="20px" class="Step1" fxLayoutAlign="center start">
        <div> <img src="../../assets/group-23.png" alt=""></div>
        <div class="package-journey">
          <div>
            <p class="title-journey" [ngStyle.lt-md]="{'font-size': '28px'}">Employment</p>
          </div>
          <div>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}"> 100% Employment guaranteed in 6 months.

            </p>
            <p class="text-journey" [ngStyle.lt-md]="{'font-size': '18px'}">If not, money back guaranteed.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="partner" fxLayout="column" fxLayoutAlign=" center">
      
      <section carrousel>
        <input id="slide-0" name="carrousel" type="radio" checked />
        <div class="slide">
          <label for="slide-3" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
          <div class="slide-content">
            <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
              fxLayoutAlign.lt-sm="space-between center">
              <img src="../../assets/Ndiate.png" alt="">
              <div>
                <h6 class="title">Ndiate SENE</h6>
                <h6 class="title1">Full-stack developer à EDACY</h6>
                <h6 class="title2">Avec EDACY, toujours
                  de nouvelles expériences merveilleuses à vivre.</h6>
              </div>
            </div>
          </div>
          <label for="slide-1" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
        </div>

        <input id="slide-1" name="carrousel" type="radio" />
        <div class="slide">
          <label for="slide-0" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
          <div class="slide-content">
            <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
              fxLayoutAlign.lt-sm="space-between center">
              <img src="../../assets/salimata.png" alt="">
              <div>
                <h6 class="title">Salimata</h6>
                <h6 class="title1">Data Science à l’UNICEF</h6>
                <h6 class="title2">J’ai rejoint l’UNICEF grâce au WorkLearning.</h6>
              </div>
            </div>
          </div>
          <label for="slide-2" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
        </div>

        <input id="slide-2" name="carrousel" type="radio" />
        <div class="slide">
          <label for="slide-1" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
          <div class="slide-content">
            <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
              fxLayoutAlign.lt-sm="space-between center">
              <img src="../../assets/mountaga.png" alt="">
              <div>
                <h6 class="title">Mountaga DIALLO</h6>
                <h6 class="title1">Software Leadership</h6>
                <h6 class="title2">C’est ici que je vais accomplir mes rêves.</h6>
              </div>
            </div>
          </div>
          <label for="slide-3" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
        </div>

        <input id="slide-3" name="carrousel" type="radio" />
        <div class="slide">
          <label for="slide-2" class="back"> <mat-icon>keyboard_arrow_left</mat-icon> </label>
          <div class="slide-content">
            <div class="entreprises" fxLayoutAlign="center center" fxLayout="column"
              fxLayoutAlign.lt-sm="space-between center">
              <img src="../../assets/arielle.png" alt="">
              <div>
                <h6 class="title">Arielle NOBIME</h6>
                <h6 class="title1">Digital Marketing Manager à Kiya Software</h6>
                <h6 class="title2">J’ai été formée en entreprise et employée à l’issue du WorkLearning.</h6>
              </div>
            </div>
          </div>
          <label for="slide-0" class="forward"> <mat-icon>keyboard_arrow_right</mat-icon> </label>
        </div>

      </section>
    </div>
