/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import url('./assets/fonts/font.scss');

body {
    margin: 0;
}
.mat-form-field-underline {
    display: none;
   }
   .active-link {
    font-weight: bold;
  }

  div {
    color: #231F20;
    font-family: "Proxima Nova";
    font-size: 16px;
    // letter-spacing: 2px;
    line-height: 24px;
  }