
<!-- banner -->
<div fxLayout="row" fxLayoutAlign=" none center" class="banner">
  <div id="image"></div>
  <div fxFlex="1 1 100%" fxLayout="row" id="banner-text" fxLayoutAlign="end center">
    <div class="sub-banner-text" fxLayout="column" fxLayoutAlign="center start">
      <div>
        <p class="title" [ngStyle.lt-md]="{'font-size': '40px'}"> WorkLearning </p>
      </div>
      <div>
        <p class="content" [ngStyle.lt-md]="{'font-size': '28px'}">
          Master cutting-edge technology and tools that give you the freedom
          to choose your job. </p>
        </div>
      <div class="play-content" fxFlex fxLayout="row " fxLayoutAlign="start center">
        <div>
          <p class="play" [ngStyle.lt-md]="{'font-size': '20px'}">Play the film </p>
        </div>
        <div> <img src="../../assets/play-button.png" alt=""> </div>
      </div>
    </div>
    <div fxFlex="1 1 15%" fxHide.xs="true"></div>
    <div fxFlex="1 1 10%" fxHide.lg="true"></div>
  </div>
</div>
<!-- banner -->

<!-- bloc1 -->
<div class="bloc1">
  <p class="title" [ngStyle.lt-md]="{'font-size': '36px'}">Future of companies will be digital.</p>
  <p class="title2" [ngStyle.lt-md]="{'font-size': '26px'}">Upgrade with the latest digital skills.</p>
  
  <p class="text" [ngStyle.lt-md]="{'font-size': '18px'}">At EDACY, we are committed to meeting the digitization needs
    of businesses
    either through the provision of highly trained talent or by training employees
    in technical and behavioral skills enabling talents to be more productive and more
    responsive to future market expectations.</p>
    <button mat-button>LEARN MORE</button>
</div>
<!-- bloc1 -->

<div fxLayout="row">
  <div id="imagepartner" fxHide.lt-md="true" fxFlex.gt-sm="50"></div>
  <div class="contentpartner-one" fxLayout="column"   fxFlex.gt-sm="50" fxFlex.lt-md="100">
    <div class="sub-contentpartner">
      
      <div>
        <h3 class="Title" [ngStyle.lt-md]="{'font-size': '28px'}"> A win-win approach with companies. </h3>
      </div>
      
      <div>
        <p class="content" [ngStyle.lt-md]="{'font-size': '18px'}"> Due to our proven talents selection companies
          can therefore recruit trained backed talents safely. Therefore you can apply to be one of our ED-Partner and
          profit from our exclusive offers.
        </p>
      </div>
      <div><button mat-button>JOIN AS A ED-PARTNER</button></div>
    </div>
  </div>
</div>

<div fxLayout="row">
  <div class="contentpartner-two" fxLayout="column" fxFlex >
    <div class="sub-contentpartner">
      <div>
        <h3 class="Title" [ngStyle.lt-md]="{'font-size': '28px'}"> The best way to learn is by doing and making. </h3>
      </div>
      <div>
        <p class="content" [ngStyle.lt-md]="{'font-size': '18px'}"> After 3 intense months of specialization you will be
          ready to integrate a company for 6
          months which will allowed you to deploy and convince the employer by your skills.
        </p>
      </div>
      <div><button mat-button>SIGNUP FOR WORKLEARNER</button></div>
    </div>
  </div>
  <div id="imagepartner2" fxHide.lt-md="true" fxFlex="50"></div>
</div>

<div class="WorkLearning">
  <div>
    <h3 class="WorkLearning-title" [ngStyle.lt-md]="{'font-size': '36px'}">WorkLearning </h3>
  </div>
  <p class="WorkLearning-text" [ngStyle.lt-md]="{'font-size': '18px'}">Every program have been specifically designed to meet
    the demands of companies, allowing each talent to increase its
    ng chances of being recruited.</p>
  </div>
<!-- Bloc-programs -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="cadre-programs" fxLayoutGap="70px">
    <div class="programs" fxFlex="375px">
      <div id="image-for-web"></div>
      <div class="description">

        <h1 class="titre">WorkLearning</h1>
        <h1 class="titre1">Frontend Development</h1>
        <p class="titre2">Gain the skills to become a front-end web developer.</p>
        <p class="titre3">Application Opens: <br>
          Program Starts:</p>
          
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p class="date">Starts May 7, 2018</p>
          <p class="date1">9 Months</p>
        </div>
      </div>
    </div>
    <div class="programs" fxFlex="375px">
      <div id="image-for-mobile"></div>
      <div class="description">
        <h1 class="titre">WorkLearning</h1>
        <h1 class="titre1">Mobile Development</h1>
        <p class="titre2">Build apps for Android and iOS at a mobile development coding.</p>
        <p class="titre3">Application Opens:<br>
          Program Starts:</p>
          <div fxLayout="row" fxLayoutAlign="space-between">
          <p class="date">Starts May 7, 2018</p>
          <p class="date1">9 Months</p>
        </div>
      </div>
    </div>
    <div class="programs" fxFlex="375px">
      <div id="image-for-data"></div>
      <div class="description">
        <h1 class="titre">OpenLearning</h1>
        <h1 class="titre1">Backend Development</h1>
        <p class="titre2">Build solid server-side app with NodeJs, Java and create APIs.</p>
        <p class="titre3">Application Opens: <br>
          Program Starts:</p>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p class="date">Starts May 7, 2018</p>
          <p class="date1">3 Months</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bloc-programs -->
<div class="start-worklerning" fxLayout="row" fxLayoutAlign="center center">
  <button mat-button>
    START WORKLEARNING</button>
</div>
<!-- start-worklerning -->

<div class="worklearning" >
  <div>
    <h3 class="WorkLearning-title" [ngStyle.lt-md]="{'font-size': '36px'}">OpenLearning </h3>
  </div>
  <p class="WorkLearning-text" [ngStyle.lt-md]="{'font-size': '18px'}">Every program have been specifically designed to meet
    the demands of companies, allowing each talent to increase its
    ng chances of being recruited.</p>
  </div>
<!-- Bloc-programs -->

<div fxLayout="row" fxLayoutAlign="center center">
  <div class="cadre-programs" fxLayoutGap="70px">
    <div class="programs" fxFlex="375px" >
      <div id="image-for-web"></div>
      <div class="description" >

        <h1 class="titre0">WorkLearning</h1>
        <h1 class="titre1">Frontend Development</h1>
        <p>Gain the skills to become a front-end web developer.</p>
        <p>Application Opens: <br>
          Program Starts:</p>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <p class="date">Starts May 7, 2018</p>
          <p class="date1">9 Months</p>
        </div>
      </div>
    </div>
    <div class="programs" fxFlex="375px">
      <div id="image-for-mobile"></div>
      <div class="description" >
        <h1 class="titre0">WorkLearning</h1>
        <h1 class="titre1">Mobile Development</h1>
        <p>Build apps for Android and iOS at a mobile development coding.</p>
        <p>Application Opens:<br>
          Program Starts:</p>
          <div fxLayout="row" fxLayoutAlign="space-between">
          <p class="date">Starts May 7, 2018</p>
          <p class="date1">9 Months</p>
        </div>
      </div>
    </div>
    <div class="programs" fxFlex="375px" >
      <div id="image-for-data"></div>
      <div class="description" >
        <h1 class="titre0">OpenLearning</h1>
        <h1 class="titre1">Backend Development</h1>
        <p>Build solid server-side app with NodeJs, Java and create APIs.</p>
        <p>Application Opens: <br>
          Program Starts:</p>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p class="date">Starts May 7, 2018</p>
          <p class="date1">3 Months</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bloc-programs -->

<!-- start-worklerning -->
<div class="start-worklerning-1" fxLayout="row" fxLayout="row" fxLayoutAlign="center center">
  <button mat-button>START OPENLEARNING</button>
</div>
<!-- start-worklerning -->
<div class="worklearning">
  <div>
    <h3 class="titrejob" [ngStyle.lt-md]="{'font-size': '36px'}">100% Guaranteed Job </h3>
  </div>
  <p class="titre5" [ngStyle.lt-md]="{'font-size': '26px'}">You will get your money back if you do not find a job. </p>
  <p class="titre6" [ngStyle.lt-md]="{'font-size': '18px'}">Join us for 9 months of online, classroom and in-conpany
    training while earning more than it costs you.
  </p>
</div>
<!-- emploii garanti -->

<div class="emploi-garanted" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center "
  fxLayoutAlign="center start" fxLayoutGap.gt-xs="95px">
  <div class="emploig">
    <h3 class="tile-employment" [ngStyle.lt-md]="{'font-size': '18px'}">
      Job Guaranteed </h3>
    <p class="textEmploi" [ngStyle.lt-md]="{'font-size': '14px'}">
      If six months after obtaining your WorkLearning certificate,
      you are not employed. Your training is fully reimbursed based
      on certain eligibility criteria.</p>
  </div>
  <div class="emploig">
    <h3 class="tile-employment" [ngStyle.lt-md]="{'font-size': '18px'}">
      Scholarship </h3>
    <p class="textEmploi" [ngStyle.lt-md]="{'font-size': '14px'}">
      Edacy seeks equity in education and offers a full scholarship for up to 10% of talents,
      based on certain eligibility criteria.</p>
  </div>
  <div class="emploig">
    <h3 class="tile-employment" [ngStyle.lt-md]="{'font-size': '18px'}">
      Costs & Earning </h3>
    <p class="textEmploi" [ngStyle.lt-md]="{'font-size': '14px'}">
      You start your training with a specialization "pay phase" lasting 3 months followed
      by 6 months of WorkLearning in a company where you will be paid.</p>
    </div>
</div>

<!-- emploii garanti -->
<div class="partner" fxLayout="column" fxLayoutAlign=" center center">
  <div>
    <p class="title" [ngStyle.lt-sm]="{'font-size': '36px'}">Our Partners</p>
    <p class="title2" [ngStyle.lt-sm]="{'font-size': '18px'}">We offer our ED-Partners accessibility to all our
      WorkLearners
      before placing them on our platform and much more</p>
    </div>
  <div class="entreprises" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="110px"
  fxLayoutAlign.lt-sm="space-between center">
    <img height="51.33px" src="../../assets/cofina.png" alt="">
    <img height="33px" src="../../assets/unicef.png" alt="">
    <img height="52px" src="../../assets/gainde.png" alt="">
    <img height="76px" src="../../assets/expresso logo.png" alt="">
  </div>
  <!-- start-worklerning -->
  <div class="start-worklerning">
    <button mat-button>JOIN AS A ED-PARTNER</button>
  </div>
  <!-- start-worklerning -->
</div>

<!-- </div>  -->
<!-- grand div -->