@import '../../assets/css/variables.scss';

.banner {
  width: 100%;

  #image {
    z-index: 2;
    width: 100%;
    background-image: url('../../assets/video-banner--home.jpg');
    background-size: cover;
    background-position: center;
  }

  #banner-text {
    z-index: 4;
    margin-left: -100%;

    .sub-banner-text {
      z-index: 9;
      height: 550px;
      padding-left: 16px;
      padding-right: 16px;

      .title {
        color: #FFCC00;
        font-size: 64px;
        font-weight: bold;
        line-height: 60px;
        margin-bottom: 0px;
      }

      .content {
        margin-top: 8px;
        margin-bottom: 0px;
        max-width: 438px;
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
      }

      .play-content {
        height: 51px;
      }

      .play {
        padding: 0px;
        color: #FFFFFF;
        font-size: 28px;
        letter-spacing: 1.56px;
        line-height: 38px;
        padding: 0px 8px 0px 5px;
      }
    }
  }
}

.bloc1 {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 0px;
    color: #61BFAD;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 #00000080;
  }

  .title2 {
    margin-top: 0px;
    color: #9B9B9B;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .text {
    margin: auto;
    max-width: 900px;
    color: #4A4A4A;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 58px;
  }

  button {
    height: 57px;
    width: 186px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    background-color: #FFCC00;
    margin: auto;
    margin-bottom: 72px;
  }
}

#imagepartner {
  background-image: url('../../assets/bootcamp1.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;

}

#imagepartner2 {
  background-image: url('../../assets/BitmapCopy4.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;
}

.contentpartner-one {
  background-color: $edacy-primary;
  align-items: center;
}

.contentpartner-two {
  background-color: #61BFAD;
  align-items: center;
}

.sub-contentpartner {
  max-width: 515px;
  padding: 50px 20px;

  .Title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .content {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  button {
    height: 52px;
    border: 1px solid #000000;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    margin: 50px 5% 5%;
  }
}


.WorkLearning {
  padding: 0px 12px;
  margin-bottom: 40px;
}

.worklearning {
  margin-top: 0px;
  padding: 0px 12px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.WorkLearning-title {
  height: 24px;
  color: #000000;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}

.WorkLearning-text {
  margin: auto;
  max-width: 999px;
  color: #4A4A4A;
  font-size: 24px;
  letter-spacing: 1.33px;
  line-height: 29px;
  text-align: center;
}

.cadre-programs {
  max-width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 30px;

  .programs {
    border: 0.5px solid #D8D8D8;
    background-color: #FFFFFF;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 375px;
  }

  .description {
    padding: 15px 21px;
  }

  #image-for-web {
    background-image: url('../../assets/web.png');
    min-height: 213px;
    background-size: cover;
    background-position: center;
  }

  #image-for-mobile {
    background-image: url('../../assets/mobile.png');
    min-height: 213px;
    background-size: cover;
    background-position: center;
  }

  #image-for-data {
    background-image: url('../../assets/data.png');
    min-height: 213px;
    background-size: cover;
    background-position: center;
  }

  .titre {
    color: #FFCC00;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  .titre0 {
    color: #61BFAD;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }


  .titre1 {
    font-size: 25.6px;
    font-weight: bold;
    line-height: 32px;
  }

  .description p {

    font-size: 20px;
    line-height: 24px;
  }

  .date {
    color: #61BFAD;
    font-size: 18px;
    line-height: 22px;
  }

  .date1 {

    font-size: 18px;
    line-height: 22px;
    text-align: right;
  }
}

.start-worklerning {
  margin: auto;
  padding-top: 37px;

  button {
    height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #FFC20E;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
  }
}

.start-worklerning-1 {
  margin: auto;
  padding-top: 37px;
  padding-bottom: 37px;

  button {
    height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #61BFAD;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
  }
}

.titrejob {
  margin-bottom: 0px;
  color: #000000;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 3.56px;
  line-height: 78px;
  text-align: center;
}

.titre5 {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #9B9B9B;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.titre6 {
  margin: auto;
  max-width: 800px;
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.emploi-garanted {
  margin-bottom: 40px;
  padding: 0px 12px;

  .emploig {
    max-width: 350px;
  }

  .tile-employment {
    color: #fc0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .textEmploi {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

}

.partner {
  padding: 0px 12px;
  background-color: #F5F5F5;
  padding-bottom: 60px;

  .title2 {
    max-width: 800px;
    color: #9B9B9B;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .title {
    margin-top: 89px;
    margin-bottom: 20px;
    color: #61BFAD;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

}

.entreprises {
  margin-top: 55px;
}

.entreprises img {
  margin-bottom: 55px;
}
