@import '../../assets/css/variables.scss';

.bloc1 {
  padding-left: 16px;
  padding-right: 16px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 0px;
    color: #000000;
    // color: #61BFAD;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 #00000080;
  }

  .title2 {
    margin-top: 0px;
    color: #9B9B9B;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .text {
    margin: auto;
    max-width: 900px;
    color: #4A4A4A;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 58px;
  }

  button {
    height: 57px;
    width: 186px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    background-color: #FFCC00;
    margin: auto;
    margin-bottom: 72px;
  }
}

#image {
  z-index: 2;
  width: 100%;
  background-image: url('../../assets/images/video-banner--enterprise.jpg');
  background-size: cover;
  background-position: center;
}

#headertext {
  z-index: 4;
  margin-left: -100%;

  .bloctexte {
    z-index: 9;
    height: 550px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .Title {
    color: #FFCC00;
    font-size: 64px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 0px;
    max-width: 670px;
    padding-bottom: 15px;
  }

  .content {
    margin-top: 8px;
    margin-bottom: 0px;
    max-width: 670px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
  }

  .play-content {
    height: 51px;
  }

  .play {
    padding: 0px;
    color: #FFFFFF;
    font-size: 28px;
    letter-spacing: 1.56px;
    line-height: 38px;
    padding: 0px 8px 0px 5px;
  }
}


.Wl2 {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0px 12px;

}

.Wltitle {
  color: #000000;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}

.Wltext {
  margin: auto;
  max-width: 999px;
  color: #4A4A4A;
  font-size: 24px;
  letter-spacing: 1.33px;
  line-height: 29px;
  text-align: center;
}

#imageFdev {
  background-image: url('../../assets/mobile.png');
  min-height: 213px;
  background-size: cover;
  background-position: center;
}

.start-worlearning {
  margin: auto;
  padding-top: 37px;

  button {
    height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #FFC20E;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
  }
}

.SW2 {
  margin: auto;
  padding-top: 37px;
  padding-bottom: 37px;
  text-align: center;

  button {
    height: 52px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #FFC20E;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
  }
}


.emploigaranti {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;

  .emploig {
    max-width: 350px;
  }

  .titleEmploi {
    color: #fc0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .textEmploi {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

}

#imagepartner {

  background-image: url('../../assets/openlearning.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;

}

#imagepartner2 {
  background-image: url('../../assets/sharetalent.png');
  min-height: 568px;
  background-size: cover;
  background-position: center;
}


.contentpartner-one {
  background-color: $edacy-primary;
  align-items: center;
}

.contentpartner-two {
  background-color: #61BFAD;
  align-items: center;
}

.sub-contentpartner {
  max-width: 515px;
  padding: 50px 20px;

  .Title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .content {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  button {
    height: 52px;
    border: 1px solid #000000;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.81px;
    line-height: 22px;
    text-align: center;
    margin: 50px 5% 5%;
  }

}

.partner {
  padding: 0px 12px;
  background-color: #F5F5F5;
  padding-bottom: 60px;

  .entreprises {
    margin-top: 55px;
  }

  img {
    margin-bottom: 55px;
  }

}
