<!-- pub -->
<div fxLayout="row" fxLayoutAlign=" none center" class="pub">

  <div id="image"></div>
  <div fxFlex="1 1 100%" fxLayout="row" id="headertext" fxLayoutAlign="start center">
    <div fxFlex="1 1 25%" fxHide.lt-xl="true"></div>
    <div fxFlex="1 1 10%" fxHide.xl="true" fxHide.xs="true"></div>
    <div class="bloctexte" fxLayout="column" fxLayoutAlign="center start">
      <div>
        <p class="Title" [ngStyle.lt-md]="{'font-size': '40px'}">Digital transformation</p>
      </div>
      <div>
        <p class="content" [ngStyle.lt-md]="{'font-size': '28px'}">
          Talents are key to shape, deploy and drive new technologies
          to facilitate your digital transformation. </p>
      </div>
      <div class="play-content" fxFlex fxLayout="row " fxLayoutAlign="start center">
        <div>
          <p class="play" [ngStyle.lt-md]="{'font-size': '20px'}">Play the film </p>
        </div>
        <div> <img src="../../assets/play-button.png" alt=""> </div>
      </div>
    </div>
  </div>
</div>
<!-- pub -->

<!-- bloc1 -->
<div class="bloc1" >
  <p class="title" [ngStyle.lt-md]="{'font-size': '36px'}">Future of companies will be digital.</p>
  <p class="title2" [ngStyle.lt-md]="{'font-size': '26px'}">Upgrade with the latest digital skills.</p>

  <p class="text" [ngStyle.lt-md]="{'font-size': '18px'}">At EDACY, we are committed to meeting the digitization needs
    of businesses
    either through the provision of highly trained talent or by training employees
    in technical and behavioral skills enabling talents to be more productive and more
    responsive to future market expectations.</p>
  <button mat-button>LEARN MORE</button>
</div>
<!-- bloc1 -->

<div fxLayout="row" >
  <div id="imagepartner" fxHide.lt-md="true" fxFlex="50"></div>
  <div class="contentpartner-one" fxLayout="column" fxFlex>
    <div class="sub-contentpartner">
      <div>
        <h3 class="Title" [ngStyle.lt-md]="{'font-size': '28px'}"> OpenLearning: transform your people </h3>
      </div>
      <div>
        <p class="content" [ngStyle.lt-md]="{'font-size': '18px'}">A new training approach
          consisting of online courses and workshops designed to accelerate your teams’
          skills in ideation, application development,
          data and evaluating digital opportunities for your business.
        </p>
      </div>
      <div><button mat-button>JOIN AS A ED-PARTNER</button></div>
    </div>
  </div>
</div>

<div fxLayout="row">
  <div class="contentpartner-two" fxLayout="column" fxFlex>
    <div class="sub-contentpartner" >
      <div>
        <h3 class="Title" [ngStyle.lt-md]="{'font-size': '28px'}"> WorkLearning: shape your talents before you hire
        </h3>
      </div>
      <div>
        <p class="content" [ngStyle.lt-md]="{'font-size': '18px'}"> During the six months of WorkLearning,
          you test and train your WorkLearner with our international experts and mentors
          without the hassle and be the first to hire them.
        </p>
      </div>
      <div><button mat-button>SIGNUP FOR WORKLEARNER</button></div>
    </div>
  </div>
  <div id="imagepartner2" fxHide.lt-md="true" fxFlex="50"></div>
</div>

<!-- bloc1 -->
<div class="bloc1">
  <p class="title" [ngStyle.lt-md]="{'font-size': '36px'}">Future of companies will be digital.</p>
  <p class="title2" [ngStyle.lt-md]="{'font-size': '26px'}">Upgrade with the latest digital skills.</p>

  <p class="text" [ngStyle.lt-md]="{'font-size': '18px'}">At EDACY, we are committed to meeting the digitization needs
    of businesses
    either through the provision of highly trained talent or by training employees
    in technical and behavioral skills enabling talents to be more productive and more
    responsive to future market expectations.</p>
  <button mat-button>LEARN MORE</button>
</div>
<!-- bloc1 -->

<!-- emploii garanti -->
<div class="partner" fxLayout="column" fxLayoutAlign=" center">

  <div>
    <h3 class="Wltitle" [ngStyle.lt-md]="{'font-size': '36px'}">EDACY is perfect for you </h3>
  </div>
  <div class="entreprises" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
    fxLayoutGap="75px" fxLayoutAlign.lt-sm="space-between center">
    <img height="51.33px" src="../../assets/cofina.png" alt="">
    <img height="33px" src="../../assets/unicef.png" alt="">
    <img height="52px" src="../../assets/gainde.png" alt="">
    <img height="76px" src="../../assets/expresso logo.png" alt="">
    <img height="76px" src="../../assets/kiwi.png" alt="">
  </div>
  <!-- start-worlearning -->
  <div class="start-worlearning">
    <button mat-button routerLink="/form entreprise">JOIN AS A ED-PARTNER</button>
  </div>
  <!-- start-worlearning -->
</div>

<!-- emploii garanti -->

<div class="Wl2" >
  <div>
    <h3 class="Wltitle" [ngStyle.lt-md]="{'font-size': '36px'}"> Send us your job vacancies to attract key talents </h3>
  </div>

  <p class="Wltext" [ngStyle.lt-md]="{'font-size': '18px'}">Are you about to recruit ? In this case, you will only have
    to share your specifications with us, then we will carefully select talents matching
    your request and finally they will contact you for an interview.</p>
</div>

<div class="emploigaranti" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center"
  fxLayoutAlign="center start" fxLayoutGap.gt-xs="95px">
  <div class="emploig">
    <h3 class="titleEmploi" [ngStyle.lt-md]="{'font-size': '18px'}">
      Find rare talents </h3>
    <p class="textEmploi" [ngStyle.lt-md]="{'font-size': '14px'}">
      The profile that you miss through regular channels EDACY find it for you</p>
  </div>
  <div class="emploig">
    <h3 class="titleEmploi" [ngStyle.lt-md]="{'font-size': '18px'}">
      Save your time </h3>
    <p class="textEmploi" [ngStyle.lt-md]="{'font-size': '14px'}">
      Find, convince and train the right candidates the most efficient way with EDACY</p>
  </div>
  <div class="emploig">
    <h3 class="titleEmploi" [ngStyle.lt-md]="{'font-size': '18px'}">
      Valuable insight </h3>
    <p class="textEmploi" [ngStyle.lt-md]="{'font-size': '14px'}">
      We get to know our talents during the specialization to offer you the right profile fit</p>
  </div>
</div>

<!-- start-worlearning -->
<div class="SW2">
  <button mat-button>SHARE YOUR POSITION</button>
<!-- start-worlearning -->